/* ***** Custom Properties ***** */
:root {
  --bg-home-color: rgb(43, 43, 43);
  --green-hover-color: rgb(25, 135, 84);
  --green-text-color: rgb(25, 135, 84);
  --bs-body-bg-rgb: rgb(0, 167, 8);
  --bs-body-color-rgb: rgb(0, 167, 8);
}

.dropdown-menu {
  --bs-dropdown-bg: rgb(43, 43, 43);
  --bs-dropdown-link-hover-bg: rgba(85, 85, 88, 0.397);
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-border-color: black;
  --bs-dropdown-box-shadow: ;
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: var(--green-hover-color);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-active-color: rgb(0, 167, 8);
  --bs-dropdown-link-active-bg: rgba(85, 85, 88, 0.397);
  --bs-dropdown-link-disabled-color: #304638;
  --bs-dropdown-header-color: #adb5bd;
  
}

a{
  text-decoration: none;
}

/* ***** Reset Styles ***** */
body {
  *font-family: "Raleway", sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--bg-home-color);
  list-style-type: none;
}

/* ***** Bootstrap Styles ***** */

.bi {
  color: white;
}

.bi:hover {
  color: var(--green-hover-color);
}

.card {
  max-height: 35rem;
  box-shadow: 0rem 0 0.5rem 0.2rem rgba(3, 104, 8, 0.329);
}

.form-control:focus {
  box-shadow: 0 0 0 0.15rem rgba(25, 135, 84, 1);
}

.navbar {
  --bs-navbar-active-color: var(--green-hover-color);
}

 a.navbar-brand {
    margin-right: 0px;
  }

.navbar-nav{
 --bs-nav-link-hover-color: var(--green-hover-color);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--green-hover-color);
}
.row > * {
  padding-right: 0px;
  padding-left: 0px;
}
/* ***** My Styles ***** */

.av__don__bosco {
  color: white;
  background-color: hsl(hue, saturation, lightness);
}

.av__don__bosco__cel{
 visibility: hidden;
 display: none;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


li {
  color: var(--bs-body-color-rgb);
}

li span {
  color: white;
}

.ul__horarios{
  list-style-type: circle;
}


.navbar-dark {
  /* --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25); */
  --bs-navbar-active-color: #ff0101;
  /* --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgb(255, 255, 255); */
}


.navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgb(255, 255, 255);
}

.navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 167, 8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

/* .shadow__img__logo{
  box-shadow:  0 0.15rem 0 0.15rem rgba(25, 135, 84, 0.219);
  border-radius: 8rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
 
  .row {
    padding-right: 0px 0px 0px 0px;
    padding-left: 0px 0px 0px 0px;
  }

  .col-lg-2{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  } 
  
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .row>*{
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
 
  .av__don__bosco {
    text-align: center;
    visibility: hidden;
    display: none;
  }

  .av__don__bosco__cel{
   text-align: center;
   visibility: visible;
   display: inline;
   color: white;
  }

  .logo__large{
    max-height: 20%;
    max-width: 20%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* .navbar-brand img {
    height: 4rem;
    width: auto;
  } */
  /* .av__don {
    text-align: center;
  } */

  a.btn{
    font-size: 0.8rem;
    padding: 2px;
    margin-bottom: 1rem;
  } 


  .card {
    max-height: 92%;
    max-width: 85%;
  
  }

  .card-body {
    padding: 0px;
    margin: 0%; 
   }

  .card-title{
    font-size: 0.8rem !important;
    margin: 0px;
    padding-top: 0.3rem;
  }

  .card-text{
    font-size: 0.9rem;
    margin: 0px;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 25%;
    }


  .logo__large{
    max-height: 20%;
    max-width: 20%;
  }

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 0px) {
  /* .navbar-brand img {
    height: 3rem;
    width: auto;
  } */
  /* .av__don {
    text-align: center;
  } */

  .card {
    margin: auto;
    padding: auto;
    max-height: 80%;
    max-width: 80%;
  
  }

  .card-title{
    font-size: 50% !important;
  }

  .card-text{
    font-size: 50%;
  }

  .logo__large{
    max-height: 20%;
    max-width: 20%;
  }

  .row>*{
    padding-right: 0px;
    padding-left: 0px;
  }
}
