/* ***** Custom Properties ***** */
:root {
  --bg-home-color: rgb(43, 43, 43);
  --green-hover-color: rgb(25, 135, 84);
  --green-text-color: rgb(25, 135, 84);
  --bs-body-bg-rgb: rgb(0, 167, 8);
  --bs-body-color-rgb: rgb(0, 167, 8);

  
  /* --bs-emphasis-color-rgb: rgb(25, 135, 84); */
}

.dropdown-menu {
  --bs-dropdown-bg: rgb(43, 43, 43);
  --bs-dropdown-link-hover-bg: rgba(85, 85, 88, 0.397);
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-border-color: black;
  --bs-dropdown-box-shadow: ;
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: var(--green-hover-color);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-active-color: rgb(0, 167, 8);
  --bs-dropdown-link-active-bg: rgba(85, 85, 88, 0.397);
  --bs-dropdown-link-disabled-color: #304638;
  --bs-dropdown-header-color: #adb5bd;
}

a{
  text-decoration: none;
}

/* ***** Reset Styles ***** */
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-home-color);
}

/* ***** Bootstrap Styles ***** */

.bi {
  color: white;
}

.bi:hover {
  color: var(--green-hover-color);
}

.card {
  max-height: 35rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.15rem rgba(25, 135, 84, 1);
}

.navbar{
  --bs-navbar-active-color: var(--green-hover-color);
}

.navbar-nav{
 --bs-nav-link-hover-color: var(--green-hover-color);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--green-hover-color);
}


/* ***** My Styles ***** */

.av__don__bosco {
  color: white;
}

.navbar-dark {
  /* --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25); */
  --bs-navbar-active-color: #ff0101;
  /* --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgb(255, 255, 255); */
}


.navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgb(255, 255, 255);
}

.navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 167, 8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

.shadow__img__logo{
  box-shadow:  0 0.15rem 0 0.15rem rgba(25, 135, 84, 0.219);
  border-radius: 8rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .navbar-brand img {
    height: 5rem;
    width: auto;
  } */

  
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .navbar-brand img {
    height: 5rem;
    width: auto;
  } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .form-control{
    visibility: visible;
  } */
  /* .nav-item:hover {
    background-color: transparent;
  } */

  /* .navbar-brand img {
    height: 5rem;
    width: auto;
  } */
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* .navbar-brand img {
    height: 4rem;
    width: auto;
  } */
  .av__don {
    text-align: center;
  }

  .btn{
    font-size: 0.8rem;
    padding: 5%;
    margin: 5%;
  }


  .card {
    max-height: 92%;
    max-width: 85%;
    padding: 0px;
    margin: 0px;
  }

  .card-title{
    font-size: 60% !important;
    margin: 0rem;
    padding: 0rem;
  }

  .card-text{
    font-size: 70%;
    
  }

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 0px) {
  /* .navbar-brand img {
    height: 3rem;
    width: auto;
  } */
  .av__don {
    text-align: center;
  }


  .card {
    margin: auto;
    padding: auto;
    max-height: 80%;
    max-width: 80%;
  
  }

  .card-title{
    font-size: 50% !important;
  }

  .card-text{
    font-size: 50%;
  }

}


